body{
    display:grid;
    place-items:center;
    width: 100%;
    height:100%;
}
table
{
    max-width:90%;
    border-collapse:collapse;
}
td,th
{
    width:20%;
    height:100px;
    background:rgb(180,180,180);
    border:2px solid black;
    overflow:auto;
}
tr
{
    height:100px;
}