*{
    font-family:cursive;
    font-size:x-large;
}
#barrafiltro
{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:3em 3em;
    grid-gap:1em;
    margin-bottom:1em;

}
section
{
    background-color:rgb(230, 229, 229);
    padding:1em;
    border-radius:5px;
    width:40em;
    margin-top:2em;
}
#planilhaCompleta
{
    text-align:center;
    align-items:center;
}
body{
    margin:0 auto;
    display:grid;
    place-items:center;
    width: 100%;
    height:100%;
    overflow:auto;
    background:black;
    
}
table
{
    margin-top:40px;
    max-width:100%;
    border-collapse:collapse;
    max-height:100%;
    transition:max-height 2s;
    color:rgb(37, 37, 37);
    background-color:white;
    border-radius:20px;
    outline:none;
    
    
    
}
td,th
{
    text-align:center;
    width:20%;
    height:100px;
    overflow:auto;
    outline:1px solid rgb(37, 37, 37);
    border-radius:5px;
    background-color:rgb(230, 229, 229);

}
td a
{
    width:100%;
    height:100%;
    display:flexbox;
    place-items:center;
    justify-items:center;
}
th
{
    background-color:gray;
    color:white;
}
.hidden
{
    display:none;
}
.btnDownload
{
    max-width:30px;
    background:white;
    border-radius:5px;
    padding:4px;
    margin:2px;
    align-self:center;
}
button
{
    padding:20px;
    outline:none;
    background:rgb(109, 231, 231);
    border:2px solid rgb(4, 173, 173);
    cursor:pointer;
}
button:hover
{
    background:rgb(209, 248, 248)
}