* {
  font-family: Roboto;
  font-size: x-large;
}
#barrafiltro {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: 3em 3em;
  grid-gap: 1%;
  margin-bottom: 1em;
  max-width: 90vw;
  overflow: hidden;
  padding: 1vw;
}
label {
  display: block;
  margin: auto;
  margin-bottom: 0px;
  font-size: medium;
}
h1,
ovd {
  font-size: 1.5em;
  text-align: center;
}
ovd {
  background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(248, 134, 3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
span {
  font-size: small;
  margin: 20px;
  color: white;
}
#logo {
  align-self: center;
  justify-self: center;
  max-width: 50vw;
  max-height: 50vh;
  margin: 0 auto;
  text-align: center;
}
#Busca {
  text-align: center;
}
section {
  background-color: #cccccc;
  padding: 1em;
  border-radius: 5px;
  max-width: 90vw;
  width: 90vw;
  overflow: hidden;
  margin-top: 2em;
}
#planilhaCompleta {
  text-align: center;
  align-items: center;
}
body {
  margin: 0 auto;
  display: grid;
  place-items: center;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  background: black;
}
table {
  font-size: medium;
  margin-top: 40px;
  width: 100%;
  max-width: 100vw;
  border-collapse: collapse;
  max-height: 100%;
  transition: max-height 2s;
  color: rgb(37, 37, 37);
  background-color: white;
  border-radius: 20px;
  outline: none;
}
td,
th {
  font-size: medium;
  text-align: center;
  max-width: 20vw;
  height: 100px;
  overflow: hidden;
  outline: 1px solid rgb(37, 37, 37);
  border-radius: 5px;
  background-color: rgb(230, 229, 229);
}
td a {
  max-width: 20vw;
  overflow: hidden;
  height: 100%;
  display: flexbox;
  place-items: center;
  justify-items: center;
}
th {
  background-color: gray;
  color: white;
}
.hidden {
  display: none;
}
select,
select option {
  font-size: medium;
}
.driveAntigoLogo {
  max-height: 2em;
  background: white;
  padding: 0.5em;
  border-radius: 5px;
}
.driveAntigoLogo:hover {
  background: rgb(220, 249, 253);
}
.btnDownload {
  max-width: 30px;
  background: white;
  border-radius: 5px;
  padding: 4px;
  margin: 2px;
  align-self: center;
}
button {
  padding: auto;
  overflow: hidden;
  outline: none;
  font-size: medium;
  background: rgb(109, 231, 231);
  border: 2px solid rgb(4, 173, 173);
  cursor: pointer;
}
button:hover {
  background: rgb(209, 248, 248);
}

#bar1,
#bar2,
#bar3 {
  position: fixed;
  width: 100vw;
  height: 1em;
  background-color: gray;
  margin-left: 0px;
  display: block;
}
#bar3 {
  position: fixed;
  top: 1em;
  height: auto;
  font-size: medium;
  color: white;
  background-color: black;
}
#bar3text {
  font-size: inherit;
  padding: inherit;
  margin: inherit;
}
#bar2 {
  position: absolute;
  width: 100vw;
  max-width: 0vw;
  height: 1em;
  margin-left: 0px;
  background: linear-gradient(0deg, red, orange);
  display: block;
  transition: max-width 2s;
}
a {
  font-size: medium;
}
error {
  display: block;
  color: red;
  padding: 20px;
  background-color: rgb(255, 189, 189);
}
.altlink {
  color: rgba(30, 80, 2, 0.986);
  text-decoration: none;
  font-size: inherit;
}
.altlink:hover {
  color: blueviolet;
}
